header{
    border-bottom: 3px solid #05698d;
}

.nav-link{
    color: #05698d;
}

footer{
    border-top: 3px solid #05698d;
    background: lightgray;
}

header ul, footer ul{
    list-style: none;
}

div.col-2>a>img{
    margin-top: 25px;
    margin-right: 25px;
    float: right;
}

div.col-2>ul li>p{
    text-align: end;
    margin-top: 15px;
}

div.col-4>p{
    margin-top: 15px;
}

footer>div.col-4>ul li>a{
    color: #05698d;
}
footer>div.col-4>ul{
    margin-top: 10px;
}

hr{
    margin: 2px;
    width: 400px;
	background-color:rgb(173, 173, 173);
}

footer>div.col-2>ul li>p>a{
    color: #05698d;
}
body, html {
    height: 100%;
    margin: 0;
    background: rgb(236, 236, 236);

  }

  .container{
    padding: 3em;
  }

.bg {
    /* The image used */
    background-image: url("../sources/background-accueil.png");
  
    /* Full height */
    height: 40em;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.jumbotron{ 
    position: absolute;
    top: 3em;
    max-width: 90em;
    background-color: white;
    padding: 2em;
}

.display-4{
    text-align: center;
}

.btn{
  background-color: rgb(48, 97, 112) !important;
  color: white !important;
}

#article{
  max-height: 35em;
}

#score4{
  display: block;
  width: 83px;
  height: 85px;
  background: url(../sources/hexagone-note-sprites-small.png) 168px 145px;
}

.centered {
  position: absolute;
  top: 15%;
  left: 22%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  color: white;
}

.img_article{
border-bottom: dashed gray 1px;
}

.row .col-md h3{
  text-align: center;
}

#icone{
  display: block;
}

#texte_long{
  height: 25em;
  overflow: scroll;
  text-overflow: ellipsis

}